.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(4, 3, 3, 0.15);
  }
  .signup-form input, .signup-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  